.sidebar .sidebar-content {
    background-color: #f0f2f6;
    padding: 20px;
    border-radius: 10px;
}

.sidebar .sidebar-content .sidebar-section {
    margin-bottom: 20px;
}

.main {
    background-color:#c99191;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.stSlider {
    width: 90%;
}
